.root {
	display: flex;
	width: 100%;
	height: calc(100vh - 70px);
	padding: 50px;
	gap: 20px;
	flex-wrap: wrap;
	align-content: flex-start;
}

.card {
	max-height: 200px;
	width: 200px;
}

.spinnerHolder {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
