.wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.leftBlock {
    position: relative;
    flex-shrink: 0;
    height: 100vh;
    overflow-x: hidden;
}

.rightBlock {
    position: relative;
    flex-grow: 1;
    height: 100vh;
    overflow-y: auto;
}

.backdrop {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    filter: blur(2px);
    background-color: #555555;
    user-select: none;
}