.wrapper {
	display: flex;
	/* height: 100%; */
	overflow: hidden;
}

.leftBlock {
	position: relative;
	flex-shrink: 0;
	overflow-x: hidden;
}

.rightBlock {
	position: relative;
	flex-grow: 1;
	overflow-y: auto;
	background-color: #f9f9f9;
}

.backdrop {
	filter: blur(2px);
	background-color: #555555;
	user-select: none;
}
